body{
    background-color: black;
}
header{
     display: flex;
}
#logo{
    padding:10px;

     
}
#home{
    position: absolute;
    left: 690px;
    top: 20px;
    border-radius: 50%;
    
    
}
.input{
    background-color: black;
    position: absolute;
    height: 50px;
    width: 520px;
    left: 835px;
    top: 19px;
    border-radius: 10px;
    font-size: 24px;
    color: white;
}
#search{
    position: absolute;
    border: 2px solid rgb(37, 34, 34);
    width: 35px;
    height: 35px;
    top: 30px;
    left: 790px;
    border-radius: 50%;

}
#text{
      position: absolute;
      left: 800px;
      font-size: 20px;
      background-color:rgb(18,17,17) ;
}
::placeholder{
    background-color: rgb(18, 17, 17);
}

#line{
    position: absolute;
    width: 5px;
    height: 40px;
    top: 30px;
    left: 1305px;

}
#lock{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 27px;
    left: 1320px;
    border-radius: 50%;

}
h1{
    position: absolute;
    left: 1800px;
    color: rgba(185, 183, 183, 0.549);
    font-size: 25px;

}
h1:hover{
    color: white;
    font-size: 30px;
}
button{
    position: absolute;
    top:20px ;
    left: 1930px;
    width: 110px;
    height: 50px;
    border-radius: 40px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
button:hover{
    height: 60px;
    width:120px ;
}
.libyicon{
    position: absolute;
    width: 40px;
    left: 70px;
    top: 30px;
    border-radius: 50%;
}
div{
    display: flex;
}
#container1{
    position: relative;
    display: inline-block;
    background-color: rgb(10, 12, 12);
    top: 20px;
    width: 500px;
    height: 900px;
    border-radius: 25px;
    color: white;
    
}

#sp2{
    position: relative;
    color: white;
    font-size: 45px;
    left: 55%;
    top: 35px;

}
.box1{
    background-color: rgb(16, 13, 13);
    position: relative;
    top: 60px;
    width: 490px;
    height: 200px;
    border-radius: 20px;
    display: inline-block;
    
}
.box2{
    position: relative;
    background-color: rgb(16, 13, 13);
    color: white;
    display: inline-block;
    width: 490px;
    height: 200px;
    top: 100px;
}
.box3{
    position: relative;
    background-color: rgb(16,13,13);
    color: white;
    display: inline-block;
    width: 570px;
    height: 200px;
    top: 150px;
}
#container2{
    position: relative;
    display: inline-block;
    background-color: rgb(10, 12, 12);
    top: 20px;
    width: 1510px;
    height: 900px;
    border-radius: 25px;
    color: white;
    left: 10px;
}
