body{
    background-color: black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    
    
    
}
#logo{
    position: relative;
    left: 20px;
}

#home{
    border-radius: 50%;
    position: relative;
    left: 350px;

}
.input{
    border: 2px solid;
    border-radius: 30px;
    width: 500px;
    height: 40px;
    padding-left: 45px;
    padding-right: 85px;
    background-color: black;
    color:white ;
    font-size: 15px;
    margin-left: 310px;
}

#searchicon{
    position: relative;
    right: 550px;
    border-radius: 50%;

}


#line{
    position: relative;
    right: 230px;
    width: 5px;
    height: 30px;
}
#lock{
    position: relative;
    right: 270px;
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

button{
   
    width: 80px;
    height: 40px;
    border-radius: 40px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


.libyicon{
    
    border-radius: 50%;
}
#main{
    display: flex;
    justify-content: space-between;
    
}
#container1{
    background-color: rgb(28, 27, 27);
    width: 23%;
    height: 700px;
    border-radius: 10px;
    color: white;
    padding: 20px;
    
    
    
    
    
}
#library{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(29, 26, 29);
}

#plus{
    
    
    color: rgb(206, 197, 197);
    font-size: 30px;

    

}
.box1{
    background-color: rgb(28, 22, 22);
    padding: 15px;
    width: 320px;
    height: 100px;
    border-radius: 10px;
    
    
}
.box2{
    background-color: rgb(28, 22, 22);
    color: white;
    padding: 15px;
    width: 320px;

    height: 100px;
    border-radius: 10px;
}
#box3{
  margin-top: 100px;
  padding: 10px;
}
#container2{
    background-color: rgb(39, 39, 207);

    padding: 10px;
    width: 95%;
    height: 650px;
    border-radius: 10px;
    color: white;
    overflow: auto;
}
.Popularartist{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    
}
#Popularartist{
    display: flex;
    justify-content: space-between;
    
    
}

.Pritam,.VishalMiShra,.Diljitdosanjh,.AnirudhRavichander,.ArijitSingh,.Vishal-shekhar,.Vishal-shekhar{
    padding-left: 2px;
    height: 240px;
    width: 165px;
    background-color: rgb(8, 1, 1);
    border-radius: 10px;
}
h2{
    color: white;
    font-size: 16px;
    margin-left: 10px;

}
h5{
    margin-left: 10px;
    
}
.artistimg{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    padding-left: 8px;
    padding-top: 5px;
    
}
.artistlink{
    
    color: rgb(93, 89, 89);
}
.Popularalbums{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Popularalbums{
    display: flex;
    justify-content: space-between;
}
.GLORY,.LoveHotel,.Aashiqui2,.JoTum,.MakingMemories,.Aajki{
    padding-left: 2px;
    height: 270px;
    width: 165px;
    background-color: rgb(8, 1, 1);
    border-radius: 10px;
}
.Popularradio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Popularradio{
    display: flex;
    justify-content: space-between;
}
.Atif,.Karan,.Armaan,.Yesudas,.Anirudh,.Uttam{
    padding-left: 2px;
    height: 230px;
    width: 170px;
    background-color: rgb(8, 1, 1);
    border-radius: 10px;
}
.FeaturedCharts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#FeaturedCharts{
    display: flex;
    justify-content: space-between;
}
.charts1,.charts2,.charts3,.charts4,.charts5,.charts6{
    padding-left: 2px;
    height: 230px;
    width: 170px;
    background-color: rgb(8, 1, 1);
    border-radius: 10px;
}
.Zzzzzzz{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Zzzzzzz{
    display: flex;
    justify-content: space-between;
}
.Instrumental,.Wander,.Ambient,.smoothing,.Sleep,.Jazz{
    padding-left: 2px;
    height: 230px;
    width: 170px;
    background-color: rgb(8, 1, 1);
    border-radius: 10px;
}
#footer{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
